body {
    margin: 0;
}

h1{
    padding-bottom: 0.5em;
    font-size: 50px;
}

.AddBottomSpace{
    padding-bottom: 3em;
}

.topnav{
    background-color: #c1ff94;
    overflow: hidden;
}

#home{
    float: left;
    color: #58BD0F;
    padding-left: 75px;
    font-size: 30px;
}

#arrow{
    float: left;
    color: #58BD0F;
    padding-left: 20px;
    font-size: 30px;
}

#logout{
    float: right;
    color: #58BD0F;
    padding-right: 75px;
    font-size: 30px;
    text-decoration: none;
}

.container-fluid{
    background-color: #ffffff;
}

.jumbotron-fluid{
    background-color: #ffffffa4;
}

.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
  } 

.interval{
    padding-bottom: 3px;
}