h1 {
    margin: 0;
    display: inline-block;
}

h2 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 5%;
}

.form-group {
    padding-left: 10%;
}

body {
    background-color: #f2f2f2;
    font-size: 15px;
    font-family: 'Quicksand';
    color: #6B6B6B;
}

.button {
    background-color: #4CAF50; /* Green */
    border: 2px solid #4CAF50;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}