h1{
    padding-right: 0.5rem;
}

h2{
    text-align : center;
    font-size: 50px;
    padding-bottom: 5%;
}

body{
    background-color:#f2f2f2;
    font-family: 'Quicksand';
    color:#6B6B6B;
    font-size: 15px;

}
.word-wrap {
    overflow-wrap:break-word;
}
.modal {
    overflow-y : hidden;
}
/* Important part */
.modal-content{
    overflow-y: initial !important
}
.modal-body{
    height: 45vh;
    overflow-y: auto;
}

.btn.btn-lg{
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
}

table th {
    font-size: 1.8rem;
}

table td {
    font-size: 1.5rem;
}

table {
    background-color: #ffffff;
}

input[type="checkbox"]{
    width: 30px; /*Desired width*/
    height: 30px; /*Desired height*/
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
/* Might want to wrap a span around your checkbox text */
.checkboxtext {
    /* Checkbox text */
    font-size: 100%;
    display: inline;
}
