		.topnav {
      		background-color: #C1FF94;
      		overflow : hidden;
    	}  
    	.jumbotron-fluid{
    		background-color : #DCDCDC;
    	}
    	#home{
    		float: left;
    		color: #58BD0F;
    		padding-left: 75px;
    		font-size: 30px;
    	}
    	#logout{
    		float:right;
    		color: #58BD0F;
    		padding-right: 75px;
    		text-decoration: none;
    		font-size: 30px;
		}
		#title1{
    		color: rgb(189, 194, 161);
    		padding-top:30px;
		}
		.icon{
			font-size: 25px;
		}
		
		#delete{
			font-size: 25px;
		}
		#edit{
			font-size: 25px;
		}
		#info{
			padding-top: 30px;
		}	
		#mapName{
			float: left;
		}