h2{
    text-align : center;
    font-size: 50px;
    padding-bottom: 5%;
}

.glyphicon {
    font-size:20px;
    color:#00CC33;
    padding-left: 20px;
}

body{
    background-color:#f2f2f2;
    font-family: 'Quicksand';
    color:#6B6B6B;
    font-size: 15px;

}
.word-wrap {
    overflow-wrap:break-word;
}