body{
    background-image: linear-gradient(to right, #D4FC79, #A3EB98);
    font-family: 'Quicksand';
}

input[type=email]:focus {
    border: 1px solid #89BD26;
    box-shadow: 0 1px 0 0 #89BD26;
}

input[type=password]:focus {
    border: 1px solid #89BD26;
    box-shadow: 0 1px 0 0 #89BD26;
}