body{
    font-size: 15px;
}

.w3-green .w3-hover-green:hover{
    background-color: #89BD26;
}

table{
    border: none;
    width: 100%;
}

th, td {
    font-size: 18px;
}

input[type=number]:hover {
    border: 1px solid #89BD26;
    box-shadow: 0 1px 0 0 #89BD26;
}