#mapid {height: 500px; z-index: 1}
#freeDrawContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.state-remove-markers,
.state-add-markers{
    transition-duration: .5s;
    transform: scaleY(0);
    position: absolute;
    display: block;
    top: 0;
    width: 100%;}

.state-remove-markers{
    transform-origin: 50% 0; }
.state-add-markers{
    transform-origin: 50% 100%; }

.state-remove-markers.remove-markers-active{
    transform: scaleY(1); }

.state-add-markers.add-markers-active{
    transform: scaleY(1); }

#materialsContainer {
    font-size: 0;
    width: 75%;
    margin: 0 auto;
}

#materialsContainer img {
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: inline-block;
}

#materialsContainer img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#materialsSearch {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 95%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}