body {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    font-family: "Quicksand";
    font-size: 18px;
!important;
    color: #6B6B6B;
}

html, body, #mapContainer, #mapid, #content {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1 {
    color: #6B6B6B;
}


.active-green input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #89BD26;
    box-shadow: 0 1px 0 0 #89BD26;
}

#itemlist {
    height: 300px;
    overflow-x: auto;
    -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#itemlist::-webkit-scrollbar {
    display: none;
}


.btn {
    color: #fff;
!important;
    font-weight: 100;
!important;
    border-radius: 0;
!important;

}

.w3-sidebar {
    overflow: scroll;!important;
}

::-webkit-scrollbar {
    width: 0px;!important;
    background: transparent;!important;
}