#mapid {
    height: 500px;
    z-index: 1
}

ul {
    font-size:13px;
}

#freeDrawContainer {
    height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.state-remove-markers,
.state-add-markers {
    transition-duration: .5s;
    transform: scaleY(0);
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
}

.state-remove-markers {
    transform-origin: 50% 0;
}

.state-add-markers {
    transform-origin: 50% 100%;
}

.state-remove-markers.remove-markers-active {
    transform: scaleY(1);
}

.state-add-markers.add-markers-active {
    transform: scaleY(1);
}

#materialsContainer {
    font-size: 0;
    width: 75%;
    margin: 0 auto;
}

#materialsContainer img {
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: inline-block;
}

#materialsContainer img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#materialsSearch {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 95%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

body {
    background-color: #f2f2f2;
    font-family: "Quicksand";
    font-size: 13px;

}

h1{
    color: #6B6B6B;
}

.topnav {
    background-image:linear-gradient(to right, #D4FC79, #A3EB98);
    overflow: hidden;
}
#home {
    float: left;
    color: #58BD0F;
    padding-left: 75px;
    text-decoration: none;
    font-size: 30px;
}
#back{
    color: #58BD0F;
    padding-left: 20px;
    text-decoration: none;
    font-size: 30px;
}
#logout {
    float: right;
    color: #58BD0F;
    padding-right: 75px;
    font-size: 30px;
}

#title1 {
    color: rgb(189, 194, 161);
    padding-top: 30px;
}

.icon {
    font-size: 25px;
    color: green;
}

#input {
    width: 60px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

nav ul {
    height: 200px;
    width: 90%;
}

nav ul {
    overflow: hidden;
    overflow-y: scroll;
}

