.topnav-right {
    float: right;
}

.form-group {
    padding-left: 10%;
}

body {
    background-color: #f2f2f2;
    font-family: 'Quicksand';
    font-size: 15px;
    color: #6B6B6B;
}

table  tbody tr td{
    font-size:15px;
}
table  thead tr th{
    font-size:15px;
}

.align-mapname{
    font-size: 20px; 
    margin-top: 29px; 
    padding: 0px 7px 0px 7px;
}