h1 {
    margin: 0;
    display: inline-block;
}

h2 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 5%;
}

.form-group {
    padding-left: 10%;
}

body {
    background-color: #f2f2f2;
    font-size: 15px;
    font-family: 'Quicksand';
    color: #6B6B6B;
}

.active-green input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #89BD26;
    box-shadow: 0 1px 0 0 #89BD26;
}

.btn .btn-success {
    color: #89BD26;
}

table th {
    font-size: 1.8rem;
}

table td {
    font-size: 1.5rem;
}

table {
    background-color: #ffffff;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
