
body{
  background-color:#f2f2f2;
  font-size: 20px;
}


.active-green-box {
  border: 1px solid #89BD26;
  box-shadow: 0 0 0 1px #89BD26;
}

.table-larger{
  font-size:20px;
}
.btn-circle.btn-xl { 
  width: 70px; 
  height: 70px; 
  padding: 10px 16px; 
  border-radius: 35px; 
  font-size: 12px; 
  text-align: center; 
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 65%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.topnav {
  background-image:linear-gradient(to right, #D4FC79, #A3EB98);
  overflow: hidden;
  width: 100%;
}

.glyphicon-share .glyphicon-pencil .glyphicon-trash .glyphicon-user {
  font-size:25px;
  color: #ffffff;
}

#home {
  float: left;
  color: #58BD0F;
  padding-left: 75px;
  text-decoration: none;
  font-size: 30px;
  padding-left: 4%;
}
#arrow {
  color: #58BD0F;
  padding-left: 20px;
  text-decoration: none;
  font-size: 30px;
}
#users {
  color: #58BD0F;
  padding-left: 20px;
  text-decoration: none;
  font-size: 30px;
}
#maps {
  color: #58BD0F;
  padding-left: 20px;
  text-decoration: none;
  font-size: 30px;
}
#logout {
  float: right;
  color: #58BD0F;
  padding-right: 75px;
  font-size: 30px;
  padding-right: 4%;
}
.jumbotron-fluid{
  background-color: #ffffff;
}
.container-fluid{
  background-color: #f2f2f2;
}
#search{
  border: 1px solid #58BD0F; 
}
#submit{
  background-color: #58BD0F;
}
.dropdown{
 float: right;
 padding-right: 75px;
 display: flex;
 justify-content: flex-end;
}


.project .row {
  margin: 0;
  padding: 15px 0;
  margin-bottom: 15px
}


.project .text h3 {
  margin-bottom: 0;
  color: #555
}

.project .text small {
  color: #aaa;
  font-size: 0.75em
}

.project .project-date span {
  font-size: 0.9em;
  color: #999
}


.project .card {
  margin-bottom: 0
}

.has-shadow {
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
}
.bg-white {
  background: #fff !important;
}

.form-control:focus {
  border-color: #58BD0F;
  box-shadow: inset 0 1px 1px rgba(0, 0.875, 0, 0.2), 0 0 8px rgba(0, 255, 0, 0.2);
}

:focus {
  background: none;
}

